<% include header.ejs %>
<div class="main-details">
    <br/><br/>
<h3 style="margin-left:80px;""> <%= message %></h3>
<br/><br/>
<a href="#" style="margin-left:80px; color:crimson;" onclick="history.back()">Voltar | </a>
</div>
<% include footer.ejs %>