<% include header.ejs %>
<div class="content-section">
    <div class="text-area">
        <h3>Bem-vindo à Biblioteca Livre</h3>
        <p>
            Troque livros. Conecte histórias. Expanda seu mundo.<br/><br/>
            Na <strong class="highlight-text">Biblioteca Livre</strong>, acreditamos que um livro nunca deve ficar parado na estante. Ele pode ser o início de uma nova jornada para outra pessoa. Aqui, incentivamos a troca de livros entre leitores apaixonados, proporcionando a oportunidade de descobrir novas histórias, aprender algo novo e compartilhar conhecimento.
        </p>
        <ul>
            <li><strong class="highlight-text">Economia inteligente:</strong> Troque livros e economize, contribuindo para um mundo mais sustentável.</li>
            <li><strong class="highlight-text">Descubra novos autores e gêneros:</strong> Explore novos autores e troque suas histórias já lidas por uma nova experiência literária.</li>
            <li><strong class="highlight-text">Fortaleça a comunidade leitora:</strong> Conecte-se com outros leitores e expanda sua rede de amigos apaixonados por leitura.</li>
        </ul>
        
        <h4>Como funciona?</h4>
        <ol>
            <li>Cadastre seus livros adicionando-os à sua estante virtual.</li>
            <li>Encontre o próximo livro da sua lista navegando pelo catálogo.</li>
            <li>Troque e compartilhe suas histórias com outros leitores.</li>
        </ol>
        <p>
            Seja qual for o seu gênero favorito — ficção, não-ficção, clássicos ou best-sellers — há sempre algo esperando por você na <strong class="highlight-text">Biblioteca Livre</strong>. Participe dessa revolução literária e ajude a espalhar o amor pelos livros.
        </p>
    </div>
    <div class="image-area">
        <img src="/relogo.png" alt="Logo da Biblioteca Livre" class="responsive-image">
    </div>
</div>
<% include footer.ejs %>
