@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-red: #D13239;
    --main-bg: #262626;
    --bg-header: #262626;
    --main-white: #FFFFFF;
    --err-toastify: var(--main-red);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}



/* Estilos do Header */
nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-header);
    position: relative;
    height: 65px;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* Borda inferior sutil */
}


.logo {
    color: var(--main-white);
    margin-left: 50px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li a {
    text-decoration: none;
    color: var(--main-white);
    cursor: pointer;
    position: relative;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.alert{
    color:white;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

.menu-icon {
    display: none;
}

.menu-icon i {
    color: var(--main-red);
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    transition: transform 0.3s ease;
}

@media (max-width:950px) {
    nav ul {
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        flex-direction: column;
        align-items: start;
        padding-left: 60px;
        background: var(--bg-header);
        gap: 0;
        overflow-y: auto;
        /* Permite que a barra de rolagem apareça se necessário */
        max-height: 300px;
        /* Altura máxima para evitar que o menu fique muito alto */
        transition: max-height 0.3s ease;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        /* Adiciona uma transição suave ao abrir/fechar */
    }

    nav ul li {
        padding: 20px;
        padding-top: 5px;
    }

    .menu-icon {
        display: block;
    }

    #menuList {
        transition: all 0.5s;
    }
}

/*Fim do header*/

/*Landing page*/
.content-section {
    display: flex;
    /* Utiliza flexbox para alinhamento */
    justify-content: space-between;
    /* Espaçamento entre texto e imagem */
    margin: 40px 80px;
    line-height: 1.8;
    /* Ajuste para maior espaçamento entre as linhas */
    max-width: 100%;
    /* Limita a largura do conteúdo */
}

/* Estilo da área de texto */
.text-area {
    max-width: 70%;
    /* Limita a largura da área de texto */
}

/* Estilo da área da imagem */
.image-area {
    max-width: 35%;
    /* Limita a largura da área da imagem */
}

/* Imagem responsiva */
.responsive-image {
    width: 100%;
    /* Faz com que a imagem ocupe toda a largura da área */
    height: auto;
    /* Mantém a proporção da imagem */
    border-radius: 10px;
    /* Bordas arredondadas para a imagem */
}

/* Estilos para cabeçalhos */
.content-section h3,
.content-section h4 {
    color: var(--main-red);
    margin-bottom: 15px;
}

/* Estilos para parágrafos */
.content-section p {
    color: var(--main-white);
    font-size: 18px;
    margin-bottom: 20px;
}

/* Estilos para listas */
.content-section ul,
.content-section ol {
    margin-left: 0px;
    margin-bottom: 0px;
}

.content-section ul li,
.content-section ol li {
    font-size: 17px;
    color: var(--main-white);
    margin-bottom: 10px;
    list-style: none;
    /* Remove marcadores de lista */
}

/* Destaque de texto */
.highlight-text {
    color: var(--main-red);
    /* Utiliza a variável de cor já configurada */
}

/* Estilo para o link de voltar */
.back-link {
    color: var(--main-red);
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.back-link:hover {
    text-decoration: underline;
    /* Adiciona sublinhado ao passar o mouse */
}


/*Fim da landing page*/

body {
    background: var(--main-bg);
}

.auth-container {
    display: flex;
    min-height: 100vh;
    background: var(--main-black);
}


.auth-left h1 {
    text-align: center;
    margin-top: 40px;
    color: var(--main-red);
    font-size: 25px;
}

.auth-left h2 {
    text-align: center;
    margin-top: 20px;
    color: var(--main-red);
    font-size: 20px;
}

.auth-left {
    width: 55%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    /* box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.13); */

}

.auth-left form {
    margin-top: 20px;
    width: 100%;
}

.input-div {
    position: relative;
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.input-div.login {
    margin-top: 20px;
}

input {
    color: var(--main-white);
}

.input-div input,
select {
    padding: 12px 12px 12px 42px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    color: var(--main-white);
    outline: none;
    width: 100%;
    background: transparent;
    /* border-radius: 7px; */
    transition: all ease 0.2s;
}

.search-bar {
    display: flex;
    margin: 20px 0;
}

.search-input {
    padding: 10px;
    color: white;
    background: var(--main-bg);
    border: 1px solid rgba(255, 255, 255, 0.185);
    border-radius: 5px;
    width: 300px;
    transition: box-shadow 0.3s ease;
}

.search-input input {
    color: var(--main-white);
}

.search-button {
    padding: 10px;
    background-color: var(--main-red);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

.search-clear {
    padding: 10px;
    width: 80px;
    background-color: #28a745;
    /* Verde Bootstrap */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s ease;
}

.search-clear:hover {
    background-color: #218838;
    /* Cor de fundo ao passar o mouse */
}


.search-input:focus {
    outline: none;
    /* Remove o contorno padrão do input */
}

.search-button:hover {
    background-color: var(--main-red);
    /* Cor ao passar o mouse */
}

.search-div select:hover {
    cursor: pointer;
}

.input-div textarea {
    padding: 15px 15px 15px 45px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: #1a1717;
    outline: none;
    width: 100%;
    background: transparent;
    /* border-radius: 7px; */
    transition: all ease 0.2s;
}

.input-div label {
    margin-top: 4px;
    color: var(--main-red);
    margin-bottom: 4px;
    font-size: 14px;
}

.input-div i.fas {
    position: absolute;
    width: 50px;
    height: 42px;
    top: 16px;
    left: 18px;
    font-size: 13px;
    color: var(--main-red);
    font-size: 14px;
}

.input-div button:hover {
    filter: brightness(90%);
}

.toast-top-right {
    margin-top: 80px;
}

.toast-top-right .toast-error {
    background: var(--main-red);
}

.auth-right {
    width: 65%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.auth-right img {
    width: 90%;
    height: 100%;
    margin-top: 20px;
}

.auth-right>h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-red);
}

/*Modal*/
/* Estilos gerais */

/* Estilos específicos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.342)
}

.modal-content {
    background-color: var(--main-bg);
    /* Cor de fundo do conteúdo do modal */
    margin: 15% auto;
    /* Centraliza o modal verticalmente e o posiciona a 15% da parte superior */
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    /* Largura máxima do modal */
}

.close-modal {
    color: var(--main-red);
    /* Cor do botão de fechar */
    float: right;
    /* Alinha o botão de fechar à direita */
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: var(--main-white);
    /* Cor do botão de fechar ao passar o mouse ou focar */
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.modal-buttons form {
    width: 50%;
}

.modal-buttons div {
    width: 50%;
}

.btn-confirm {
    width: 100%;
    padding: 8px 18px;
    background-color: #198754;
    color: var(--main-white);
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.btn-search {
    border-radius: 5px;
}

.btn-confirm:hover {
    filter: brightness(80%);
}

.btn-cancel {
    width: 100%;
    padding: 8px 18px;
    background-color: var(--main-red);
    margin-left: 10px;
    color: var(--main-white);
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.btn-cancel:hover {
    filter: brightness(80%);
}

.btn-on {
    margin-top: 10px;
    height: 40px;
    font-size: 16px;
    color: var(--main-white);
    font-weight: bold;
    border: none;
    text-align: center;
    background: var(--main-red);
    border-radius: 5px;
    outline: none;
    width: 100%;
    /* border-radius: 7px; */
    transition: all ease 0.2s;
    cursor: pointer;
}

.btn-off {
    height: 45px;
    font-size: 16px;
    color: var(--main-black);
    font-weight: bold;
    border: none;
    text-align: center;
    background: var(--main-red);
    outline: none;
    width: 100%;
    border-radius: 7px;
    transition: all ease 0.2s;
    cursor: pointer;
    opacity: 0.3;
}

.btn-on:hover,
.btn-off:hover {
    box-shadow: 0 0 10px rgba(26, 25, 25, 0.3);
    /* Sombra ao passar o mouse */
}

.div-auth-links {
    margin-top: 18px;
    width: 100%;
    padding-left: 104px;
    display: flex;
    flex-direction: column;
}

.auth-links {
    margin-top: 5px;
    color: var(--main-white);
    font-weight: 0;
    font-size: 14px;
    margin-left: 10px;
}

.auth-links:hover {
    text-decoration: underline;
}

.small-err-div {
    margin-top: 0px;
    padding: 1px;
    margin-top: 2px;
    padding-top: 1px;
}

.form-text {
    color: rgb(242, 57, 57);
    margin-left: 3px;
    font-size: 13px;
}

@media(max-width:750px) {
    .auth-right {
        display: none;
    }

    .auth-left {
        width: 100%;
        margin: auto;
    }
}

@media(max-width:450px) {
    .auth-left {
        width: 100%;
    }
}

/* Livros */
.search-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 90%;
    padding: 10px;
    justify-content: center;
    margin-bottom: 20px;
    /* Espaço abaixo do container */
}

.search-div {
    width: 40%;
    display: flex;
}
select{
    background-color: var(--main-bg);
    /* Cor de fundo do select */
    color: #fff;
    /* Cor do texto das opções */
    border: 1px solid #444;
    /* Bordas do select */
    padding: 8.7px;
    /* Padding para melhor aparência */
    border-radius: 5px;
    /* Bordas arredondadas */
    appearance: none;
    /* Remove o estilo padrão do select */
    cursor: pointer;
    /* Mudança de cursor para indicar interação */
    margin-right: 10px;
}

.search-div input {
    padding: 8px 8px 8px 45px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: var(--main-white);
    outline: none;
    width: 98%;
    background: transparent;
    transition: all ease 0.2s;
}

.input:focus {
    background-color: var(--main-bg);
    /* Mantém a cor de fundo */
}

.search-div input:focus {

    /* Remover a cor da borda ao focar */

    /* Sombra ao focar */
}

.search-div button {
    padding: 8px 18px;
    background-color: var(--main-red);
    color: var(--main-white);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.search-btn-div button:hover {
    filter: brightness(80%);
}

.main-container {
    display: flex;
    flex-direction: column;
}


.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Modificação aqui */
    gap: 20px;
    padding: 30px;
}

.card {
    display: flex;
    min-width: 200px;
    /* Largura mínima dos itens */
    max-width: 250px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0px;
    overflow: hidden;
    height: 420px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 0px 0px 0 0;
}

.card-content {
    padding: 18px;
    position: relative;
}

.card-content a {
    text-decoration: none;
    color: var(--main-red);
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-content p {
    color: #777;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn {
    display: block;
    width: 98%;
    margin-top: 16px;
    padding: 8px 18px;
    background-color: var(--main-red);
    border-radius: 5px;
    color: var(--main-white);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.btn:hover {
    filter: brightness(80%);
}

.div-pagination {
    width: 80%;
    margin-left: 74px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* Alinhar à esquerda */
    margin-top: 10px;
    /* Adicionar margem superior para afastar da borda */
}


.div-pagination ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.div-pagination ul li {
    margin: 0 5px;
    /* Ajuste o espaçamento entre os itens conforme necessário */
}

.div-pagination ul li a {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--main-red);
    color: var(--main-white);
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.div-pagination ul li a:hover {
    filter: brightness(80%);
}

/*Book Details */

.main-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    overflow: auto;
}

.md-links {
    display: flex;
    flex-direction: row;
    margin-left: 18px;
}

.md-links a {
    color: var(--main-red);
    text-decoration: underline;
}

.md-links p {
    margin-left: 10px;
    color: var(--main-white);
    font-style: italic;
}

.md-links a:hover {
    text-decoration: underline;
}

.book-details {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
}

.user-details {
    margin-left: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    padding: 10px;
}

h3 {
    color: #6d5c09;
}

/*Profile*/
/* Estilo do container principal */
.user-profile {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

/* Seção de livros */
.user-books {
    margin-top: 0px;
    margin-left: 0px;
}

/*My Books*/

/* Layout principal */
.mybooks-section {
    margin: 20px 80px;
}

.mybooks-no-books {
    color: var(--main-red);
    font-style: italic;
    margin-top: 40px;
}

.mybooks-header {
    margin-top: 30px;
    color: var(--main-red);
}

.edit-profile-button {
    background-color: #4CAF50;
    /* Verde */
    color: white;
    /* Texto branco */
    border: none;
    /* Sem borda */
    padding: 10px 15px;
    /* Espaçamento interno */
    text-align: center;
    /* Alinhamento do texto */
    text-decoration: none;
    /* Sem sublinhado */
    display: inline-block;
    /* Permite definir largura e altura */
    margin-top: 10px;
    /* Espaçamento acima */
    cursor: pointer;
    /* Muda o cursor para ponteiro ao passar o mouse */
    border-radius: 5px;
    /* Bordas arredondadas */
}

.edit-profile-button:hover {
    background-color: #45a049;
    /* Escurece ao passar o mouse */
}

/* Paginação */
.mybooks-pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-list {
    display: inline-block;
    padding: 0;
    list-style-type: none;
}

.pagination-item {
    display: inline;
    margin-right: 5px;
}

.pagination-link {
    padding: 8px 12px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

.pagination-item.active .pagination-link {
    background-color: var(--main-red);
    color: white;
}

/* Barra de busca */
.mybooks-search-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.mybooks-category-select,
.mybooks-search-input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.mybooks-btn-search {
    padding: 8px 16px;
    background-color: var(--main-red);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Grid de livros */
.mybooks-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 30px;
}

/* Card do livro */
.mybooks-card {
    background-color: var(--main-white);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 180px;
}

.mybooks-cover {
    margin-bottom: 10px;
}

.mybooks-cover {
    width: 100%;
}

.mybooks-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

.mybooks-info {
    margin-bottom: 8px;
}

.mybooks-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
}

.mybooks-author,
.mybooks-category,
.mybooks-code {
    font-size: 12px;
    color: #666;
    margin: 2px 0;
}

/* Botão Remover */
.mybooks-btn-remove {
    width: 90%;
    padding: 6px 10px;
    background-color: var(--main-red);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 5px;
}

/* Responsividade */
@media (max-width: 600px) {
    .mybooks-grid {
        grid-template-columns: 1fr;
    }

    .mybooks-card {
        width: 100%;
    }

    .mybooks-image {
        width: 100%;
        height: auto;
    }
}


/*End My Books*/

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    list-style: none;
    padding: 0;
}

.book-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
    width: 150px;
}

.book-list li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book-cover img {
    width: 100px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}


.book-info {
    margin-top: 0px;
}

.book-info h2 {
    margin-bottom: 5px;
    color: var(--main-white);
}

.book-info p {
    font-size: 18px;
    color: var(--main-white);
}

/*Book card*/


/*End Book card*/

.user-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.user-info {
    margin-left: 20px;
}

.user-info h2 {
    color:var(--main-white);
    margin-bottom: 10px;
}

.user-rating {
    display: flex;
    margin-bottom: 10px;
}

.star {
    font-size: 20px;
    color: gold;
    margin-right: 5px;
}

.user-info p {
    margin: 5px 0;
    color: var(--main-white);
    font-size: 16px;
}

/*End Profile*/


.book-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.book-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-info {
    display: flex;
    max-height: 100%;
    flex-direction: column;
    padding-left: 0px;
}

.book-action {
    display: flex;
    max-height: 100%;
    padding: 14px;
    font-style: italic;
    flex-direction: column;
}

.book-property {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: column;
}

.book-property strong{
    color:var(--main-red);
}

.book-property p{
    color:var(--main-white);
    margin-left: 5px;
}

.book-property h2{
    color: var(--main-white);
}

.btn:hover {
    filter: brightness(80%);
}

@media screen and (max-width: 900px) {
    .book-info {
        margin-top: 20px;
    }

    .book-details {
        display: block;
    }

    .book-image,
    .book-info,
    .book-button {
        width: 100%;
    }
}

@media screen and (max-width:700px) {
    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
        padding: 10px;
        justify-content: center;
        margin-bottom: 20px;
        /* Espaço abaixo do container */
    }

    .search-div {
        width: 90%;
        display: flex;
    }

    .search-div select {
        padding: 6px 6px 8px 40px;
        border: 1px solid rgba(128, 128, 128, 0.5);
        color: var(--main-white);
        outline: none;
        width: 90%;
        transition: all ease 0.2s;
    }

    .search-div input {
        margin-top: 10px;
        padding: 8px 8px 8px 45px;
        border: 1px solid rgba(128, 128, 128, 0.5);
        outline: none;
        width: 90%;
        background: transparent;
        transition: all ease 0.2s;
    }
    /* .search-btn-div {
        display: flex;
        align-items: center;
        justify-content: center;
        width:90%;
        margin-top: 20px;
    } */
    .search-div button {
        margin-top: 10px;
        width: 90%;
    }
}

/*Table*/
.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content p {
    margin-top: 10px;
    margin-left: 80px;
    color:var(--main-white);
}

.main-content h1 {
    margin-top: 30px;
    margin-left: 80px;
    font-weight: bold;
    color: var(--main-red)
}

.table-responsive {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    width: 90%;
    padding: 20px;
}

.table thead tr {
    color: var(--main-white);
}

.table th,
.table td {
    padding: 8px;
 
}

.table td {
    color: var(--main-red);
    font-weight: bold;
}

.limited-characters {
    max-width: 100px;
    /* Defina a largura máxima que você deseja permitir */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* Adiciona reticências (...) quando o texto for cortado */
}

.table-link {
    color: var(--main-red);
    font-weight: bold;
}

.table-link:hover {
    text-decoration: underline;
}

.table thead {
    background: var(--main-red);
}

.select-offer {
    padding: 6px 6px 8px 40px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    color: var(--main-white);
    outline: none;
    width: 98%;
    background: transparent;
    transition: all ease 0.2s;
}


.table-btn-edit {
    width: 100%;
    padding: 8px 18px;
    background-color: #198754;
    color: var(--main-white);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.table-btn-edit:hover {
    filter: brightness(80%);
}

.table-btn-remove {
    margin-top: 10px;
    width: 100%;
    padding: 8px 18px;
    background-color: var(--main-red);
    color: var(--main-white);
    border-radius: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.table-btn-remove:hover {
    filter: brightness(80%);
}

.pagination {
    margin-top: 20px;
}

.btn-pagination {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: var(--main-white);
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn-pagination:hover {
    background-color: #45a049;
}

/*Solicitation page*/
.trade-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 98%;
    margin: auto;
    margin-top: 20px;
}

.my-books,
.other-user-book {
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
}

.my-books h2,
.other-user-book h2 {
    margin-bottom: 10px;
}

.my-books form {
    margin-bottom: 20px;
}

.my-books select {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(75, 63, 65, 0.308);
    font-size: 16px;
}

.my-books select:hover {
    cursor: pointer;
}

.my-books .btn-confirm {
    background-color: #198754;
    color: var(--main-white);
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.my-books .btn-confirm:hover {
    filter: brightness(90%);
}

.my-books strong{
    color:var(--main-red);
}

.my-books p{
    color:var(--main-white);
}

.other-user-book-details {
    text-align: left;

}

.other-user-book-details h3,
.other-user-book-details p {
    margin-left: 10px;
    color: var(--main-white);
    font-weight: bold;
}

.other-user-book-details {
    display: flex;
    flex-direction: column;

    max-width: 100%;
    max-height: 100%;
    /* Defina a altura desejada */
    overflow: hidden;
    /* Para garantir que imagens maiores não extrapolem a altura */
}

.other-user-book-details .book-image {
    width: 200px;
    background: #000;
}

.other-user-book-details .book-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*Toast*/
.custom-toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: var(--main-white);
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
}

.custom-toast.show {
    display: block;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: 20px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}